.register__button {
  width: 100%;
  padding: 14px 0;
  font-size: 18px;
  border-radius: 2px;
  background-color: #fff;
  margin: 191px 0 15px 0;
}

.register__button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 400px) {
  .register__button {
    font-size: 16px;
    margin: 173px 0 20px 0;
  }
}
