.card__like-button {
  width: 22px;
  height: 19px;
  background: url(../../../images/icons/like-icon.svg) center no-repeat;
  background-size: cover;
  flex-shrink: 0;
  margin-bottom: 3px;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button.active {
  background-image: url(../../../images/icons/like-icon-active.svg);
}
