.register__link {
  display: block;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

.register__link:hover {
  opacity: 0.6;
}
